* {
  box-sizing: border-box;
}

.profile-holder {
  display: flex;
}

.profile-item {
  flex-grow: 1;
}

.profile-title {
  font-size: 21px;
}

.ul-profile {
  border-top: 1px solid #555;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  border-radius: 4px;
}

.li-profile {
  border-bottom: 0.5px solid #555;
  padding: 20px;
}

.spacer {
  width: 20px;
}
